################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/OutOfMemory/v15
/outofmemory/__pycache__
/ServiceCore/migrations/__pycache__
/ServiceCore/__pycache__
/OutOfMemory.pyproj
/OutOfMemory.pyproj.user
/OutOfMemory.sln
/.vs
